{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <style>
    .my-list {
      list-style-type: none;
      padding: 0;
    }
    
    .my-list li {
      margin-bottom: 10px;
      padding: 5px;
      background-color: lightgray;
      text-align: center;
    }
  </style>
</head>
<body>
 

  <div class="container">
    {% if messages %}
    <ul class="my-list">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

    <h2>Login</h2>
    <form  action="" method="POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      
      <button type="submit">Log In</button>

    </form>
    <p>Don't have account? <a href="{% url 'registration' %}" class="account">Create account</a></p>
  </div>
</body>
</html>